<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="all">
<title>欢乐拱猪游戏下载</title>
<link th:href="@{style/style.css}" rel="stylesheet" type="text/css">
<!--[if IE 6]>
 <script th:src="@{/scripts/DD_belatedPNG_0.0.8a.js}"></script>
 <script>
   /* EXAMPLE */
   DD_belatedPNG.fix('*');
   
   /* string argument can be any CSS selector */
   /* .png_bg example is unnecessary */
   /* change it to what suits you! */
 </script>
 <![endif]-->
</head>
<body>
<div class="outer">
  <div class="toper">
    <div class="toper-inner">
      <ul class="menu cfix" id="menu">
        <li class="menu-intro"> <a class="curr" title="游戏下载" href="#intro"><span>游戏下载</span></a> </li>
        <li class="menu-feature"> <a title="游戏简介" href="#feature"><span>游戏简介</span></a> </li>
        <li class="menu-guide"> <a title="游戏指南" href="#guide"><span>游戏指南</span></a> </li>
        <li class="logo_li"><a href="#" class="logo"></a></li>
      </ul>
    </div>
  </div>
  <!--wrap1-->
  <div id="wrap-page0" class="wrap wrap-intro">
    <div id="wrapinner-page0" class="wrap-intro-inner">
      <div id="mainer2-page0" class="mainer2">
        <p id="introImg" class="intro-img cfix zbc"> <a class="fl imgs-lnk" href="javascript:imgshow('introImg',0)" title=""><img src="img/pic/intro-pic1.jpg" alt=""><span class="sbg wx" id="span_1_0"></span></a> <a class="fl imgs-lnk" href="javascript:imgshow('introImg',1)" title=""><img src="img/pic/intro-pic2.jpg" alt=""><span class="sbg wx" id="span_1_1"></span></a> </p>
        <div class="intro_text">
          <h2>游戏下载</h2>
        </div>
        <a th:href="@{/file/download}"><button class="download-button">安卓下载</button></a>
        <button id="apple-download" class="download-button">Apple下载</button>
      </div>
    </div>
  </div>
  <!--wrap2-->
  <div id="wrap-page1" class="wrap wrap-feature">
    <div id="wrapinner-page1" class="wrap-feature-inner">
      <div id="mainer2-page1" class="mainer2">
        <div class="feature_text">
          <h2>游戏简介</h2>
          <p> 欢乐拱猪是一款以传统棋牌游戏“拱猪”为基础来开发的，能提供<span class="cBlue">多人在线</span>，<span class="cBlue">即时匹配</span>的网络棋牌游戏。</p>
        </div>
        <div class="feature_text2">
          <h3>《欢乐拱猪》作为一款全新的TAB游戏，将包含以下特性：</h3>
          <p>1. 地图面积达到<span class="cBlue">64平</span>方公里，最多可以<span class="cBlue">支持2000</span>名玩家在一个地图内进行战斗<br />
            2. 三大阵营全面领土战争：地球共和国 vs 新联邦 vs 瓦努主权国<br />
            3. <span class="cBlue">6大</span>步兵职业，可在游戏内可随意切换。<br />
            4. <span class="cBlue">12</span>种陆空战争载具<br />
            5. <span class="cBlue">数百种</span>武器+<span class="cBlue">近千种</span>升级配件</p>
        </div>
        <p id="featureImg" class="feature-img s-img cfix zbc"> <a class="fl imgs-lnk" href="javascript:imgshow('featureImg',0)" title=""><img src="img/pic/feature-pic1.jpg" alt=""><span class="sbg wx" id="span_1_2"></span></a> <a class="fl imgs-lnk" href="javascript:imgshow('featureImg',1)" title=""><img src="img/pic/feature-pic2.jpg" alt=""><span class="sbg wx" id="span_1_3"></span></a> <a class="fl imgs-lnk" href="javascript:imgshow('featureImg',2)" title=""><img src="img/pic/feature-pic3.jpg" alt=""><span class="sbg wx" id="span_1_4"></span></a> </p>
      </div>
    </div>
  </div>
  <!--wrap3-->
  <div id="wrap-page2" class="wrap wrap-guide">
    <div id="wrapinner-page2" class="wrap-guide-inner">
      <div id="mainer2-page2" class="mainer2">
        <div class="guideBox">
          <div id="guideInner" class="guideInner">
            <div class="gride grideCon1">
              <div class="conInner">
                <h2>对局目标</h2>
                <h3>对局结束后得分最低</h3>
                <p class="tx">对局由4个玩家，52张扑克牌组成，一拱13回合，首回合由黑桃7所有者出牌且必出黑桃7，
                  每回合由上一回合中与首次出的牌的花色一致且牌最大者出牌。</p>
                <p class="tx">后续出牌玩家出牌必须与每回合首张牌花色一致，若手牌中无此花色，则可以随便出牌。</p>
                <p class="tx">一些特殊的牌含有分值，花色一致且最大者将获得回合中牌的分值，对局结束分值最高者失败，
                  单一玩家获取所有分值直接胜利，单一玩家获取除黑桃Q意外所有分值，则黑桃Q拥有者失败</p>
              </div>
            </div>
            <div class="gride grideCon2">
              <div class="conInner">
                <h2>加入房间</h2>
                <p class="tx"> 玩家登录游戏后，点击单人匹配则加入对局房间等待，当房间人数等于4且都准备时开始对局。<br />
                  </p>
                <div class="text2">
                  <p>对局中提供快捷喊话功能，记录了一些拱猪常用语句，可拱玩家交互</p>
                  <p>对局未结束退出游戏者扣除游戏币，且逃跑场加1，当逃跑场次到达一定次数则对账号进行禁赛处理</p>
                </div>
                <p id="guideImg" class="guide-img s-img cfix zbc"> <a class="fl imgs-lnk" href="javascript:imgshow('guideImg',0)" title=""><img src="img/pic/feature-pic8.jpg" alt=""><span class="sbg wx" id="span_1_5"></span></a> </p>
              </div>
            </div>
            <div class="gride grideCon3">
              <div class="conInner">
                <h2>特殊牌分值介绍</h2>
                <div class="rec">
                  <h3>红心+大小王介绍</h3>
                  <p>游戏中大小王属于红心<br />
                    各红心分值如下图所示</p>
                </div>
                <div class="rec2">
                  <!--<h3>复活重生：</h3>
                  <p>玩家在战斗中死亡后，可以在地图界面选择附近友军控制的重生装置内复活</p>-->
                </div>
                <div class="rec3 cfix">
                  <div class="tx2 fl">
                    <div class="cell">
                      <h3>梅花10，方块J,黑桃Q介绍 如图</h3>
                      <p>计算得分优先级: 黑桃Q>方块J>梅花10</p>
                    </div>
                  </div>
                  <div class="tx2 fl">
                    <div class="cell">
                      <h3>对局结束奖励/扣除游戏币规则:</h3>
                    </div>
                  </div>
                  <p id="con3Img" class="con3Img-img s-img cfix zbc"> <a class="fl imgs-lnk" href="javascript:imgshow('con3Img',0)" title=""><img src="img/pic/gride-pic1.jpg" alt=""><span class="sbg wx" id="span_1_7"></span></a> <a class="fl imgs-lnk" href="javascript:imgshow('con3Img',1)" title=""><img src="img/pic/gride-pic2.jpg" alt=""><span class="sbg wx" id="span_1_8"></span></a> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul id="guideNav" class="guideNav cfix">
          <li class="guide_tab1"><a href="#" class="curr"><span>战争目标</span></a></li>
          <li class="guide_tab2"><a href="#"><span>加入战场</span></a></li>
          <li class="guide_tab3"><a href="#"><span>战场生存必备知识</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <a id="prevLink" class="prev-lnk" href="#happy" title="向左" style="display:none">&nbsp;</a> <a id="nextLink" class="next-lnk" href="#happy" title="向右">&nbsp;</a> </div>
<div class="popup" id="popImg">
  <div class="popinner">
    <p id="popImgBox"></p>
  </div>
  <a title="关闭" href="javascript:hidDialogs();" class="popclose">×</a> <a title="上一张" href="javascript:;" class="pop-prev" id="popPrev">&nbsp;<span>已是第一张</span></a> <a title="下一张" href="javascript:;" class="pop-next" id="popNext">&nbsp;<span>最后一张了</span></a> </div>
<div class="footer">
  <!--通用底部-->
</div>
<script src="scripts/milo-min_zbc.js"></script>
<script type="text/javascript" src="scripts/jquery.js"></script>
<script src="scripts/page_zbc.js"></script>
<script>
var showDialogs=function(o){
	need("biz.dialog",function(Dialog){
		Dialog.show({
		id:o,
		bgcolor:"#000",
		opacity:60
		});
	});
	return;
},
hidDialogs=function(){
	need("biz.dialog",function(Dialog){Dialog.hide();});return;
};
	
milo.ready(function(){
	swap("guideNav");
	
	loadScript("scripts/tcss_ied.js",function(){
		glb.hash.init("Page");
		if(typeof(pgvMain) == 'function'){pgvMain();}
	});
	
	
});
$(function(){
	//图片按钮
	$(".wx").animate({opacity:0},"fast");
	$(".zbc span").mouseenter(function(){
		$(this).stop().fadeTo('slow',0.7);
	}).mouseleave(function(){
		$(this).stop().fadeTo('slow',0);
	});			
})

$("apple-download").click(function (){
  alert("抱歉，开发者用的安卓，暂时没有Apple版本!")
})

</script>
</body>
</html>
